In [1]:
import pandas as pd
data=pd.read_csv("train.csv")

In [2]:
data=data.sample(frac=1,replace=True).reset_index(drop='true')
data.tail(7)

           ID  wifi1  wifi2  wifi3  wifi4  wifi5  wifi6  wifi7  room
1493   ID_788    -49    -52    -61    -52    -61    -82    -88     3
1494   ID_739    -17    -56    -57    -35    -71    -69    -74     2
1495   ID_160    -62    -51    -53    -60    -67    -78    -85     1
1496  ID_1471    -59    -57    -48    -69    -52    -87    -87     4
1497   ID_863    -48    -60    -57    -52    -61    -85    -84     3
1498   ID_567    -38    -51    -53    -37    -67    -67    -68     2
1499    ID_73    -66    -58    -56    -66    -79    -86    -93     1

In [3]:
data.drop('ID',axis=1,inplace=True)

In [5]:
features=data.iloc[:,:7]
labels=data["room"]

<h1>Applying GaussianNB

In [6]:
from sklearn.naive_bayes import GaussianNB
clf=GaussianNB()

In [7]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(clf, features, labels, cv=5)
scores.mean()

0.9793441272231942

<h1>Applying XGBoostClassifier

In [14]:
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
clf = XGBClassifier(max_depth=20,n_estimators=100,random_state=42)
features_train,features_test,labels_train,labels_test=train_test_split(features,labels,test_size=0.33,random_state=42)
clf.fit(features_train,labels_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=20, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='multi:softprob', random_state=42,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [15]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score
pred = clf.predict(features_test)
print("accuracy score ",accuracy_score(pred,labels_test))
print("r2_score ",r2_score(pred,labels_test))

accuracy score  0.9939393939393939
r2_score  0.9952208390726175

/home/lokesh/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

<h1>Applying K-nearest neighbours

In [25]:
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier(n_neighbors=5)
clf.fit(features_train,labels_train)
pred=clf.predict(features_test)

In [26]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import r2_score
pred = clf.predict(features_test)
print("accuracy score ",accuracy_score(pred,labels_test))
print("r2_score ",r2_score(pred,labels_test))

accuracy score  0.9858585858585859
r2_score  0.9748326946176286

<h1>Predicting for test file

In [18]:
data_test=pd.read_csv('test.csv')
test_id = data_test['ID']
data_test.drop('ID',axis='columns',inplace=True)

In [19]:
clf.fit(features,labels)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=20, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='multi:softprob', random_state=42,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [21]:
pred = clf.predict(data_test)
ans = pd.DataFrame({'ID':[],'Room':[]})

/home/lokesh/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [23]:
ans['Room']=pred
ans['ID']=test_id
ans.head()

     ID  Room
0  ID_1     1
1  ID_2     4
2  ID_3     4
3  ID_4     2
4  ID_5     1

In [24]:
ans.to_csv('sampleSubmission.csv')